<nav class="navbar navbar-inverse" id="main-nav">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Reddit Scraper</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a class="btn" id="scraper-btn">Scrape away!</a></li>
    </ul>
  </div>
</nav>
<div class="jumbotron text-center">
  <div class="overlay">
  </div>
  <div class="background-image">
  </div>
  <div class="caption">
    <h1>News Scraper</h1>
    <p>(Reddit, Javascript Subreddit)</p>
  </div>
</div>
<div class="container-fluid article-container">
</div>

<footer class="footer">
  <div class="container">
    <p><br>© Jon Ledbetter<br><a href="https://github.com/jtledbet/news_scraper">GitHub</a></p>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script src="../../assets/javascript/index.js"></script>