<nav class="navbar navbar-inverse" id="main-nav">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Refresh Results</a>
    </div>
    <ul class="nav navbar-nav">
      <li><img id="icon" src="../../assets/images/flame.png"></li>
      <li><a class="btn" id="scrape-btn">Scrape!</a></li>
      <li><a class="btn" id="clear-btn">Clear Results!</a></li>
      <li><a class="btn" id="switch-btn">Scrape a Different Sub</a></li>
    </ul>
  </div>
</nav>
<div class="jumbotron text-center">
  <div class="caption">
    <h1>Scrape-a-Sub™<span id='wat'>wat</span></h1>
    <h5>(Reddit Scraper for Subreddit "Nature is Lit")</h5>
  </div>
</div>
<div class="container-fluid wrapper">
      <div id="articles">

      </div>
      <div id="notes">
        {{!-- <div class="card" style="width: 18rem;">
          <div class="card-body">note body
            <h5 class="card-title" id="notetitle">note title</h5>
            <p class="card-text" id="notebody">note text</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div> --}}
      </div>
</div>

<footer class="footer">
  <div class="container">
    <p><br>© Jon Ledbetter<br><a href="https://github.com/jtledbet/news_scraper">GitHub</a></p>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script src="app.js"></script>