<nav class="navbar navbar-inverse" id="main-nav">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>
    <ul class="nav navbar-nav">
     <li> <a class="btn" href="/">Refresh Results</a></li>
      <li><a class="btn" id="scrape-btn"><img id="icon" src="../../assets/images/flame.png">Populate! <img id="icon" src="../../assets/images/flame.png"></a></li>
      <li><a class="btn" id="clear-btn">Clear Results!</a></li>
      <li><a class="btn" id="switch-btn">Fetch a Category</a></li>
    </ul>
  </div>
</nav>
<div class="jumbotron text-center">
  <div class="caption">
    <h1>HN Reader</h1>
    <h5>Hacker News stories, saved to your own database with personal notes.</h5>
  </div>
</div>
<div class="container-fluid wrapper">
      <div id="articles">

      </div>
      <div id="notes">
        <p id="notes-hint">← Click an article to add a note</p>
      </div>
</div>

<footer class="footer">
  <div class="container">
    <p><br>© Jon Ledbetter<br><a href="https://github.com/jtledbet/news_scraper">GitHub</a></p>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script src="app.js"></script>